@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[18px];
  }
  
  p {
    @apply text-foreground-dim;
  }

  section {
    @apply my-0 mx-auto py-[6.5rem] max-w-3xl;
  }

  section .heading-line::after {
    @apply content-[''] block relative  w-60 h-px ml-4 bg-foreground bg-opacity-40;
  }

  strong {
    @apply text-secondary;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-foreground border-background border-4 border-solid;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
}

@layer utilities {
  .inline-link {
    @apply relative text-primary whitespace-nowrap;
  }

  .inline-link::before {
    @apply content-[''] block absolute w-full bottom-0 left-0 h-[1px] scale-x-0 origin-top-left bg-primary transition-transform duration-300;
  }

  .inline-link:hover::before {
    @apply scale-x-100;
  }

  .inline-list li {
    @apply list-none align-middle pl-5 relative;
  }

  .inline-list li::before {
    @apply content-['▹'] text-secondary  absolute left-0;
  }

  .invisible-scroll {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .invisible-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
